:root {
  --accent: #e74c3c;
  --main-text-color: #44403C;
  --bold-text-color: #292524;
  --fade-text-color: #88807A;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Arimo, Inter, Open Sans, "Helvetica Neue", sans-serif;
  --monospace: monospace;
}

html {
  font-family: var(--sans-serif);
  color: var(--main-text-color);
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  width: 640px;
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin: 0;
  margin-left: calc(50% - 400px);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  -webkit-text-size-adjust: 100%;
}

.title {
  padding-top: 1.2em;
}

header, footer {
  color: var(--fade-text-color);
}

header > a {
  background: var(--accent);
  color: #fff;
  font-weight: 600;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

footer {
  margin-top: 1em;
}

header a, footer a {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: underline #0003;
}

a:hover {
  text-decoration-color: inherit;
}

.seperator {
  margin: 0 0.8em
}

.searchButton {
  cursor: pointer;
}

input {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1.4em;
  margin-left: 0.2em;
  width: 100%;
}

input::placeholder {
  color: #999;
  opacity: 1;
}

input:focus {
  outline: 0
}

.searchBar {
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 6px;
}

.searchBar > svg {
  flex-shrink: 0;
  cursor: pointer;
}

.searchItem {
  font-size: 1.4em;
  margin-bottom: 0.1em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5 {
  padding-top: 1.8em;
  margin-top: 0;
  color: var(--bold-text-color);
  font-weight: 600;
}

h2:before {
  content: "#";
  margin-right: 0.5em;
  text-decoration: none;
  display: inline-block;
}

h2:target:before {
  color: var(--accent);
}

h2 > a {
  text-decoration: none;
}

strong {
  color: var(--bold-text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color: #ddd !important;
    background-color: #1f1f22 !important;
  }
  header {
    color: #999;
  }
  h1, h2, h3, h4, h5 {
    color: #e5e5e5;
  }
  a {
    text-decoration: underline #fff3;
  }
}

@media(max-width: 700px) {
  body {
    width: 90%;
    font-size: 15px;
    margin-left: auto;
  }
}

@media(max-width: 900px) {
  body {
    margin-left: 6%;
  }
}
